<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionary App</title>
</head>
<body>
    <h1>{{ page_name }}Page</h1>
    {% if is_uploaded %}
        <h6>Uploaded file in path {{ file }} successfully!</h6>
        <p>{{ data }}</p>
    {% else %}
        <div id="upload-container">
            <form method="post" action="/createDict/" enctype="multipart/form-data">
                <input type="file" id="para-upload-input" name="file">
                <input type="submit" value="Upload">
            </form>
        </div>
    {% endif %}
    <form method="get" action="/search_word" enctype="text/plain">
        <input type="text" id="search-input" name="word">
        <input type="submit" value="Search">
        {% if empty %}
            <p>{{ empty }}</p>
        {% endif %}
    </form>
    {% if word %}
        <div>
            <h3>{{ word }}</h3>
            <h5><b>Meaning:</b> {{ meaning }}</h5>
            <h5><b>Synonym:</b> {{ synonym }}</h5>
            <h5><b>Antonym:</b> {{ antonym }}</h5>
        </div>
    {% endif %}
</body>
</html>